<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to OnyiAirWays.</h1>
    <p> You have successfully booked for <%="Flight " + "ONY"+ @booking.flight.id.to_s %></p>

    <p><%= link_to "View details", @url%></p>
   
  </body>
</html>
